body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242a4b;
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}
.form-input {
  text-align: center;
  margin: 40px 0;
}
.form-controll {
  -webkit-appearance: none;
  border: none;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  background: #2b335b;
  font-weight: bold;
}

.cards-group {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.card {
  border-radius: 10px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  flex: 0 0 23%;
  height: 450px;
  margin-bottom: 25px;
  position: relative;
  padding: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  overflow: hidden;
  cursor: pointer;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.card-info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card:hover .card-info {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.card:hover::before {
  opacity: 1;
}

.loadmore {
  background: #2b335b;
  font-weight: bold;
  padding: 12px 20px;
  display: inline-block;
  margin: 20px auto 60px;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 14px 24px -5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.2s;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loading {
  padding-right: 3em;
}
.loading .loader {
  font-size: 4px;
  position: absolute;
  top: 12px;
  right: 10px;
  margin: 0;
}
.loading .loader,
.loading .loader::after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
